<!DOCTYPE html>
	<html>
		<head>
			<title>Künstlerin Petra Seeger</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="justifiedGallery.css"/>
			<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Petra Seeger</a></li>
		        	<li><a href="/bio">bio</a></li>
	        		<li><a href="/blog">neues</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<br>
	    		<ul>
	        		 <li><a href="mailto:seeger-p@web.de">mail</a></li>
	        		 <li><a href="/impressum">impressum</a></li>
				</ul>
			</footer>
		<script src="js/jquery.justifiedGallery.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		</body>
	</html>