<!DOCTYPE html>
	<html>
		<head>
			<title>Künstlerin Petra Seeger</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="justifiedGallery.css"/>
			<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Petra Seeger</a></li>
		        	<li><a href="/bio">biographie</a></li>
	        		<li><a href="/blog">neues</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<br>
	    		<ul>
	        		 <li><a href="mailto:seeger-p@web.de?subject=Kontaktanfrage%20über%20Webseite">mail</a></li>
	        		 <li><a href="/impressum">impressum</a></li>
				</ul>
			</footer>
		<script src="js/jquery.justifiedGallery.js"></script>
		</body>
	</html>